@font-face {
    font-family:logo;
    src: url(../font/DIMITRI_.TTF);
}

@font-face {
    font-family:gily-roy;
    src: url(../font/Gilroy-Medium.ttf);
}


#footer{
    height: 40vh;
    width: 100%;
    background-color: black;
}

#footer-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#footer-part1{
    font-size: 5vw;
    font-family: logo;
}

#footer-part2{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: gily-roy;
}

#footer-part2 span{
    margin-bottom: 1.4vh;
    border-bottom: 1px solid whitesmoke;
}

#footer-part2 span a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5vw;
}




@media screen and (max-width:500px) {
 
    #footer{
        height: 80vh;
        width: 100%;
        overflow: hidden;
    }
    
    #footer-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

    }
    #footer-part1{
        font-size: 10vw;
        font-family: logo;
    }

    #footer-part2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: gily-roy;
    }
    
    

    
    #footer-part2 span a{
        color: whitesmoke;
        text-decoration: none;
        font-size:4vw;
    }

     
  #footer-part3 iframe{
    height: 150px;
    width: 200px;
  }

}



@media screen and (min-width:500px) and (max-width:950px){

    #footer-part1{
        font-size: 5vw;
        font-family: logo;
    }
    
    #footer-part2{
        display: flex;
        flex-direction: column;
        align-items: start;
        font-family: gily-roy;
    }
    
    #footer-part2 span{
        margin-bottom: 1.4vh;
        border-bottom: 1px solid whitesmoke;
    }
    
    #footer-part2 span a{
        color: whitesmoke;
        text-decoration: none;
        font-size: 2.5vw;
    }
 
  #footer-part3 iframe{
    height: 150px;
    width: 250px;
  }


}