/*-----------font section---------*/
@font-face {
    font-family: gilory;
    src: url(./../font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: logo-font;
    src: url(../font/DIMITRI_.TTF);
}

/*-----------body section---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: rgb(23, 31, 59);
    background: linear-gradient(to right, #303f72, black);
    color: white;
    overflow-x: hidden;
}
.spaceship{
    text-align: center;
    background: url('../img/gaganyan..webp') center center/cover;
    padding: 700px 20px 10px 20px;

}

.title{
    background-image:linear-gradient(#171F3B);

}
.info-container{
    background-image:linear-gradient(#171F3B #2C5F88);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    position: sticky;
    top: 50px;
    border:  #2C5F88 solid 3px;
    box-shadow: #2C5F88 0px 0px 5px;

    }
    

    .mission-info{
        text-align: center;
        width: 30%;
        
    }

    .gallery-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height:300px;
        width:100%;
        padding:50px 50px !important;
        margin:20px !important;
        
        
        
    }
    
    .gallery-card {
        margin: 10px;
    }
    
    .gallery-card img {
        width: 300px;
        height: 350px;
        margin-bottom:20px;
    
}
    
    
   