
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-size: cover;
    position: relative;
}

video#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header {
    background-color: rgba(3, 5, 11, 0.8);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 10px 0;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background: rgba(66, 119, 157, 0.8);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    margin-top: 0;
}

.positions ul {
    list-style: none;
    padding: 0;
}

.positions li {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.positions h4 {
    margin: 0 0 5px 0;
}

.application form {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.application label {
    display: block;
    margin: 10px 0 5px;
}

.application input[type="text"],
.application input[type="email"],
.application select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.application .file-input-wrapper {
    position: relative;
}

.application input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.application .file-input-button {
    display: inline-block;
    background-color: #0aa1d3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.application .file-input-button:hover {
    background-color: #0dc7d4;
}

.application .file-input-wrapper span {
    vertical-align: middle;
    font-size: 14px;
}

.application input[type="submit"] {
    background-color: #0a9ed4;
    color: #fff;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 5px;
}

.application input[type="submit"]:hover {
    background-color: #0d90d2;
}

@font-face {
    font-family:logo;
    src: url(../font/DIMITRI_.TTF);
}

<<<<<<< HEAD
@font-face {
    font-family: gily-roy;
    src: url(../font/Gilroy-Medium.ttf);
}

@font-face {
    font-family:logo;
    src: url(../font/DIMITRI_.TTF);
}

@font-face {
    font-family: gily-roy;
    src: url(../font/Gilroy-Medium.ttf);
}




}
body::-webkit-scrollbar {
    display: none;
}