
@font-face {
    font-family: gily-roy;
    src: url(../font/Gilroy-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
  
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #303f72, black);
    font-family: gily-roy;
}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#left{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   
 
    
}
#left h1{
    font-size: 7vw;

}
#right{
    height:100%;
    width: 50%;
    overflow: hidden;
    

}
#right img{
    height: 150%;
    width: 100%;
    object-fit: fill;
    filter: drop-shadow(10px 10px 60px rgb(11, 91, 138));

}
#left p{
   text-align: center;
    padding:1vh 4vw;
    font-size: 1.5vw;
    color: gray;
}
#left button{
    padding: 1vh 2vw;
    background:linear-gradient(to right,#c832f5,#8cc7f7,rgb(40, 152, 139));
box-shadow:  20px 20px 60px #32a39e,
             -20px -20px 60px #c843d4;
    text-transform: uppercase;
    transition: all 1s linear;
    border-radius: 15px;
    border: none;
    font-size: 1.5vw; 
    margin-top: 4vh;  
}

@media screen and (max-width:480px){
    #main{
      height: 80vh;
        flex-direction: column;
    }

    #left{
        height:50%;
        width: 100%;
       
        
     
        
    }
    #left h1{
        font-size: 9vw;
        margin-top: 6vh;
        letter-spacing: 1vw;
    
    }
    #right{
        height:50%;
        width: 100%;
        overflow: hidden;
       
        
    
    }
    #right img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(10px 10px 60px rgb(11, 91, 138));
    
    }
    #left p{
       
        font-size: 3vw;
        
    }
    #left button{

        padding: 1vh 4vw;
       
        font-size: 3vw; 
        margin-top: 4vh;  
    }
   
}



@media  screen and (min-width:481px) and (max-width:991px)
{

    #left p{
   
        font-size: 2vw;
       
        
    }
    #left button{

        padding: 1vh 2.5vw;
       
        font-size: 2.5vw; 
        margin-top: 4vh;  
    }

}



