
@font-face {
    font-family: gily-roy;
    src: url(../font/Gilroy-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
  
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #303f72, black);
    font-family: gily-roy;
}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#left{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   
 
    
}
#left h1{
    font-size: 7vw;

}
#right{
    height:100%;
    width: 50%;
    overflow: hidden;
    

}
#right img{
    height: 150%;
    width: 100%;
    object-fit: fill;
    filter: drop-shadow(10px 10px 60px rgb(11, 91, 138));

}
#left p{
   text-align: center;
    padding:1vh 4vw;
    font-size: 1.5vw;
    color: gray;
}
#left button{
    padding: 1vh 2vw;
    background:linear-gradient(to right,#c832f5,#8cc7f7,rgb(40, 152, 139));
box-shadow:  20px 20px 60px #32a39e,
             -20px -20px 60px #c843d4;
    text-transform: uppercase;
    transition: all 1s linear;
    border-radius: 15px;
    border: none;
    font-size: 1.5vw; 
    margin-top: 4vh;  
}
#left button:hover{
    background:linear-gradient(to left,#85c3f3,#6c90f2,rgb(40, 152, 139));
box-shadow:  -20px -20px 60px #32a39e,
             20px 20px 60px #8466f3;
}
.table{
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.header{
    height: 10vh;
    width: 60vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white ;
   
}
.contant{
    height: 10vh;
    width: 60vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.contant span{
    height: 100%;
    width: 22vw;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;  
   
}
#features{
    height: 177vh;
    width: 100vw;
    display: flex;
    align-items: center;
  flex-direction: column;
  margin-top: 2vh;

}
.card{
    
   display: flex;
    height: 32vh;

    width: 80vw; 
    
  margin-top: 2vh;
     border:2px solid #171F3B;
     transition: 1s ease-in-out; 
    
}
.card:hover{
    border: #2C5F88 solid 3px;
}
.img{
    display: flex;
    
    
    height: 30vh;
    width: 50%;
    background-color: red;
    border-radius: 2vh;
    object-fit:fill;
   
  
}
.img img{
    
    height: 100%;
    width: 100%;
    border-radius: 1vh;
    background-color: red;
   
    

}
.info{
    height:30vh ;
    width:50%;
   
    text-align: center;
    
    margin:2vh 8vh;

}
.info h1{
    display: flex;
    justify-content: center;
   
} 

.page3{
    height:100vh;
    width: 100%;
    font-family: gily-roy;
    position: relative;
    background: linear-gradient(to right, #303f72, black); 
 }

 .page3 video{
    height: 100%;
    width: 100%;
    object-fit: fill;
 }

 #cover{
    background: linear-gradient(to left,#19213b,rgba(0, 0, 0, 0.71),transparent,rgba(0, 0, 0, 0.71),#19213b);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #cover h1{
    font-size: 6vw;
     display: flex;
     align-items: center;
     
  }
  #cover a{
    padding: 0.2vh 2vw;
    border: 1px solid whitesmoke;
    border-radius: 19px;
    font-size: 2vw;
    text-decoration: none;
    margin-top: 3vh;
background:linear-gradient(to right,#dad0dd8c,#8cc7f781,rgba(40, 152, 139, 0.395));
box-shadow:  20px 20px 60px #32a39d8e,
             -20px -20px 60px #e7a2eda1;
    text-transform: uppercase;
    transition: all 1s linear;

  }
  #cover a:hover{
    background-color: white;
    color: black;
  }
  .tab{
    display: inline-block;
    margin:0 1.5vw;
  }

@media screen and (max-width:480px){
    #main{
      height: 80vh;
        flex-direction: column;
    }

    #left{
        height:50%;
        width: 100%;
       
        
     
        
    }
    #left h1{
        font-size: 9vw;
        margin-top: 6vh;
        letter-spacing: 1vw;
    
    }
    #right{
        height:50%;
        width: 100%;
        overflow: hidden;
       
        
    
    }
    #right img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(10px 10px 60px rgb(11, 91, 138));
    
    }
    #left p{
       
        font-size: 3vw;
        
    }
    #left button{

        padding: 1vh 4vw;
       
        font-size: 3vw; 
        margin-top: 4vh;  
    }
    .table{
        height: 90%;
        width: 100vw;
       
    }

  

    
.header{
    height: 10vh;
    width: 90vw;
    font-size: 4vw;
  
   
   
}
.contant{
    height: 10vh;
    width: 90vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contant span{
    height: 100%;
    width: 18vw;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
  
    
}

.card{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     margin-top: 4vh;
     
 }

.info p{
    margin: 0;
    padding: 0;
    font-size: 2.5vw;


}
.info{
    margin: 0 ;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.img{
    width: 40%;
    margin: 0 2vw;
}
.info h1{
    font-size: 7vw;
}

   
}



@media  screen and (min-width:481px) and (max-width:991px)
{

    #left p{
   
        font-size: 2vw;
       
        
    }
    #left button{

        padding: 1vh 2.5vw;
       
        font-size: 2.5vw; 
        margin-top: 4vh;  
    }

    .info p{
        margin: 0;
        padding: 0;
        font-size: 2.1vw;
    
    
    }


}



