*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #303f72, black);

}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#left{
    height:100%;
    width: 50%;
 
    
}
#right{
    height:100%;
    width: 50%;
    
    overflow: hidden;
    

}
#right img{
    height: 100%;
    width: 100%;
    object-fit: fill;

}





