@font-face {
    font-family: gily-roy;
    src: url(../font/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: logo-bold;
    src: url(../font/DIMITRI_.TTF);
}


* {
    padding: 0;
    margin: 0;
    color: #fff;

}

#page1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: gily-roy;
    background: linear-gradient(to right, #303f72, black);
}

#page1 #slogan-div {
    height: 100%;
    text-align: justify;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: start;

}

#slogan-div h1 {
    padding: 7vh 4vw;
    font-size: 4vw;
    font-weight: bolder;
    line-height: 1.1;
    text-transform: uppercase;
}

#slogan-div button {
    height: 7vh;
    width: 15vw;
    display: flex;
    margin-left: 4vw;
    align-items: center;
    gap: 1vw;
    justify-content: center;
    border: 0.1px solid black;
    border-radius: 5px;
    font-size: 1.5vw;
    cursor: pointer;
    color: black;
    background-color: #3a9ff1;
    text-transform: uppercase;
}

#slogan-div button img {
    height: 10vh;
    width: 25%;
}

#page1 #img-div {
    height: 100%;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-div img {
    height: 100%;
    object-fit: fill;
    position: sticky;
    top: 0;
    filter: drop-shadow(10px 20px 100px white);
}


#page2{
    height: 100vh;
    background-color: #3a9ff1;
    width: 100vw;
    font-family: gily-roy;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to left, #303f72, black);
}

#page2 #page2-side-img{
    height: 100%;
    width: 15vw; 
    position: absolute;
    left: 0;
    top: 0;
     
}

#page2-side-img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: drop-shadow(10px 10px 100px black);
}

#page2 #misson-div{
    height: 100%;
    width: 85vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#misson-div h1{
    display: flex;
    align-items: center;
    font-size: 4.5vw;
    gap: 2vw;
    font-weight: bolder;
}

#misson-div h1 img{
    height: 10vh;
}

#mission-container{
    height: 40vh;
    width: 70vw;
    
}

.mission{
    height: 40vh;
    width: 15vw;
    border-radius: 12px;
     background: #2f7ab7;
     overflow: hidden;
     box-shadow:  10px 10px 20px #5288c66e,
             -10px -10px 20px #171c757a;
}

.mission-img{
    height:25vh;
    width: 100%;
    background-color: red;
}

